<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webApp\cardFile\templates\cardFile\styles\mainList_styles\style.css">
    <link rel="icon" href="/webApp\cardFile\templates\cardFile\contents\hvh_cat_icon.png">
    <title>PCBoiare</title>
</head>
<body>
    <div class="wrapper">
        <header>  
                <!-- Сама шапка короче -->
        </header>
        <nav>
            <div class="hat">
                <div class="Top_hat">
                    <a href="" class="hvh">
                        <img src="/webApp\cardFile\templates\cardFile\contents\hvh_cat_icon.png" 
                        alt="Иконка хвх кота" 
                        class="hvh_ikon">
                    </a>
                    <div class="Top_hat_menu">
                        <a href="" class="button_nav btn1"><p sist="top_men_bot">Контакты</p></a>
                        <a href="" class="button_nav btn2"><p sist="top_men_bot">ХУякты</p></a>
                        <a href="" class="button_nav btn3"><p sist="top_men_bot">Товарыыы</p></a>
                        <a href="" class="button_nav btn4"><p sist="top_men_bot">Корзинааа</p></a>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <div class="contend">
                <div class="main_conteiner">
                    <!-- <div class="main_conteiner_info">
                        <div>  
                            <img class="referens_PK1" src="/webApp\cardFile\templates\cardFile\contents\klipartz.com (2).png" alt="Пк референс">

                        </div> ну + -
                    </div> -->
                    <div class="main_conteiner_obgects">
                        <div class="object_tov tov_1">
                            <a href=""  class="art"> <!--Вставишь-->
                                <img refer="anime" src="/webApp\cardFile\templates\cardFile\contents\Венти.jpeg" alt="Видео карта референс">
                                <p class="description_tov_top">Неко чан</p>
                                <p class="description_tov_down">Неко чан очень милая и добрая кошечка</p>
                            </a>
                        </div>
                        <div class="object_tov tov_2">
                            <a href="" class="art">
                                <img refer="anime" src="/webApp\cardFile\templates\cardFile\contents\klipartz.com (2).png" alt=" Хранилище">
                                <p class="description_tov_top">Хранилищеasdasd</p>
                                <p class="description_tov_down">Неко чан очень милая и добрая кошечка</p>
                            </a>
                        </div>
                        <div class="object_tov tov_3">
                            <a href="" class="art">
                                <img refer="anime" src="/webApp\cardFile\templates\cardFile\contents\8лет.png" alt=" Оперативная память">
                                <p class="description_tov_top">Оперативная память</p>
                                <p class="description_tov_down">Неко чан очень милая и добрая кошечка</p>
                            </a>
                        </div>
                        <div class="object_tov tov_4">
                            <a href="" class="art">
                                <img refer="anime"  src="/webApp\cardFile\templates\cardFile\contents\hvh_cat_icon.png" alt="Процессор">
                                <p class="description_tov_top">Процессор</p>
                                <p class="description_tov_down">Неко чан очень милая и добрая кошечка</p>
                            </a>
                        </div>
                        <div class="object_tov tov_5">
                            <a href="" class="art">
                                <img refer="anime" src="/webApp\cardFile\templates\cardFile\contents\8лет.png" alt="Блок питания">
                                <p class="description_tov_top">Блок питания</p>
                                <p class="description_tov_down">Неко чан очень милая и добрая кошечка</p>
                            </a>
                        </div>
                        <div class="object_tov tov_6">
                            <a href="" class="art">
                                <img refer="anime" src="/webApp\cardFile\templates\cardFile\contents\8лет.png" alt="Куллер">
                                <p class="description_tov_top">Куллер</p>
                                <p class="description_tov_down">Неко чан очень милая и добрая кошечка</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="foot_elimenst_top">
                <p class="foot_elis_top_text">С нами можно связатся в Социальных сетях</p>
                <a href="https://youtu.be/T9HJciakWaY" target="_blank">
                    <img class="footer_icon" src="/webApp\cardFile\templates\cardFile\contents\tg.png" alt="Иконка соцсети">
                </a>
                <a href="https://youtu.be/T9HJciakWaY" target="_blank">
                    <img class="footer_icon" src="/webApp\cardFile\templates\cardFile\contents\vk.png" alt="Иконка соцсети">
                </a>
            </div>
            <div class="footer_elimenst_mid">
                <div class="footer_logo">
                    <img src="/webApp/cardFile/templates/cardFile/contents/pc_boiare.jpg" alt="Логитп" srcset="" width="150" class="fot_log">
                </div>
                <div class="compani_info">
                    <h2>PCboiare</h2>
                    <p>С нами можно связатся</p>
                    <a class="info_tell" href="tel:+">+79514687951</a>
                    <a class="info_mail" href="mailto:">recrol@gmail.com</a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>